<div *ngIf="userProfile; else loading">
  <h1>Hello, {{ userProfile.display_name }}!</h1>
  
  <img *ngIf="userProfile.images && userProfile.images.length > 0" 
       [src]="userProfile.images[0].url" 
       alt="Avatar of {{ userProfile.display_name }}" 
       width="100" 
       style="border-radius: 50%;">

  <p>Your email: {{ userProfile.email }}</p>
</div>

<ng-template #loading>
  <p>Loading user profile...</p>
</ng-template>


<h2>Your top-5 tracks from the last month:</h2>
<div *ngIf="topTracks; else loadingTracks">
  <ol>
    <li *ngFor="let track of topTracks">
      <img [src]="track.album.images[2].url" alt="album" width="40"> <!-- smallest cover -->
      <strong>{{ track.name }}</strong> by {{ track.artists[0].name }}
    </li>
  </ol>
</div>

<ng-template #loadingTracks>
  <p>Loading tracks...</p>
</ng-template>

<p>Your top genres:</p>
<app-top-genres-chart></app-top-genres-chart>